<form action="{{upload_url}}" method="post"
enctype="multipart/form-data" class="col-md-4 col-md-offset-4">
<fieldset>
	  <legend>新物品发布</legend>
	  <div class="form-group">
	    <label for="category">类别</label>
	    <select name="category" class="form-control">
	      <option>家电</option>
	      <option>家具</option>
	      <option>其他</option>
	    </select>
	  </div>
	  <div class="form-group">
    	    <label for="description">物品描述</label>
	    <textarea name="description" class="form-control" rows="4"></textarea>
	  </div>
	  <div class="form-group">
	    <label for="upload">上传图像</label>
	    <input type="file" name="upload"  id="upload" multiple="true">
	  </div>
	  <button type="submit" class="btn btn-default">确认添加</button>
	</fieldset>
      </form>